.footer {
  background-color: $color-primary;
  color: $color-secondary;
  position: relative;

  &::before,
  &::after {
    content: "";
    height: 100%;
    width: rem(174);
    position: absolute;

    @media screen and (max-width: em(1734.98)) {
      opacity: 0.1;
      pointer-events: none;
    }

    @media screen and (max-width: em($br-maw-sm)) {
      display: none;
    }
  }

  &::before {
    background: url("../img/footer/footer-decor.svg") left bottom / 100%
      no-repeat;
    left: 0;
    bottom: 0;
  }

  &::after {
    background: url("../img/footer/footer-decor.svg") right top / 100% no-repeat;
    right: 0;
    top: 0;
    transform: rotate(180deg);
  }

  // .footer__container
  &__container {
    @include adaptiveValue(
      "padding-top",
      101,
      50,
      $containerWidth,
      $br-miw-sm,
      1
    );
    @include adaptiveValue(
      "padding-bottom",
      35,
      20,
      $containerWidth,
      $br-miw-sm,
      1
    );

    @media screen and (max-width: em($br-maw-xxxs)) {
      padding-top: rem(30);
    }
  }
  //? --------------------------------------------------------------------------------------------------------------------------------------------------
  //! Продовжуй звідси ---------------------------------------------------------------------------------------------------------------------------------
  //? -------------------------------------------------------------------------------------------------------------------------------------------------

  // .footer__content
  &__content {
    border-bottom: rem(1) solid $color-secondary;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    @include adaptiveValue(
      "padding-bottom",
      54,
      25,
      $containerWidth,
      $br-miw-sm,
      1
    );
    @include adaptiveValue(
      "margin-bottom",
      42,
      18,
      $containerWidth,
      $br-miw-sm,
      1
    );

    @media screen and (max-width: em($br-maw-lg)) {
      grid-template-columns: 1fr auto 1fr;
    }

    @media screen and (max-width: em($br-maw-md)) {
      grid-template-columns: auto 1fr;
      @include adaptiveValue("row-gap", 30, 20, $br-maw-md, $br-maw-sm);
    }

    @media screen and (max-width: em($br-maw-sm)) {
      gap: rem(30);
    }

    @media screen and (max-width: em($br-maw-xxs)) {
      grid-template-columns: 1fr;
    }
  }

  // .footer__nav
  &__nav {
    padding-right: rem(10);
    position: relative;

    @media screen and (max-width: em($br-maw-md)) {
      display: grid;
      grid-column: 1 / 3;
      grid-template-columns: 1fr auto;
      padding-right: 0;
      column-gap: rem(20);
      order: 1;
    }

    @media screen and (max-width: em($br-maw-sm)) {
      grid-column: initial;
      grid-template-columns: 1fr;
      justify-items: end;
      row-gap: rem(20);
    }

    @media screen and (max-width: em($br-maw-xxs)) {
      grid-template-columns: 1fr auto;
      padding-inline: rem(10);
      justify-items: start;
    }

    &::before {
      content: "";
      position: absolute;
      background-color: $color-secondary;
      width: rem(1);
      height: calc(100% + rem(18));
      right: 0;
      top: rem(-9);

      @media screen and (max-width: em($br-maw-xl)) {
        height: calc(100% + rem(14));
        top: rem(-7);
      }

      @media screen and (max-width: em($br-maw-lg)) {
        display: none;
      }
    }
  }

  // .footer__menu
  &__menu {
    &:not(:last-child) {
      @include adaptiveValue(
        "margin-bottom",
        39,
        20,
        $containerWidth,
        $br-maw-md
      );
    }
  }

  // .footer__menu-title
  &__menu-title {
    font-family: $ff-secondary;
    font-size: rem($fz-xsm);

    @media screen and (max-width: em($br-maw-sm)) {
      text-align: end;
    }

    @media screen and (max-width: em($br-maw-xs)) {
      font-size: rem($fz-m);
      text-decoration: underline;
    }

    @media screen and (max-width: em($br-maw-xxs)) {
      text-align: start;
      font-size: rem(26);
    }

    &:not(:last-child) {
      @include adaptiveValue(
        "margin-bottom",
        15,
        8,
        $containerWidth,
        $br-maw-md,
        1
      );

      @media screen and (max-width: em($br-maw-xxs)) {
        margin-bottom: rem(10);
      }
    }
  }

  // .footer__menu-list
  &__menu-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: rem(5);
    @include adaptiveValue("column-gap", 42, 18, $containerWidth, $br-maw-md);
    font-weight: $fw-light;
    line-height: math.div(25, 16);

    @media screen and (max-width: em($br-maw-md)) {
      @include adaptiveValue("column-gap", 42, 30, $br-maw-md, $br-maw-sm, 1);
    }

    @media screen and (max-width: em($br-maw-sm)) {
      justify-content: end;
    }

    @media screen and (max-width: em($br-maw-xs)) {
      flex-direction: column;
      align-items: end;
    }

    @media screen and (max-width: em($br-maw-xxs)) {
      align-items: start;
      padding-left: rem(10);
      row-gap: rem(10);
    }

    @media screen and (max-width: em($br-maw-xxs)) {
      padding-left: 0;
    }
  }

  // .footer__menu-item
  &__menu-item {
  }

  // .footer__menu-link
  &__menu-link {
    @media screen and (max-width: em($br-maw-md)) {
      @include adaptiveValue(
        "font-size",
        $fz-xsm,
        18,
        $br-maw-md,
        $br-maw-sm,
        1
      );
    }

    @media screen and (max-width: em($br-maw-xs)) {
      font-size: rem($fz-sm);
    }

    @media screen and (max-width: em($br-maw-xxs)) {
      font-size: rem($fz-xsm);
    }
  }

  // .footer__socials
  &__socials {
    display: flex;
    flex-wrap: wrap;
    row-gap: rem(5);
    @include adaptiveValue(
      "column-gap",
      42,
      25,
      $containerWidth,
      $br-maw-sm,
      1
    );

    @media screen and (max-width: em($br-maw-md)) {
      align-self: end;
      @include adaptiveValue("column-gap", 42, 32, $br-maw-md, $br-maw-sm, 1);
    }

    @media screen and (max-width: em($br-maw-sm)) {
      justify-content: end;
    }

    @media screen and (max-width: em($br-maw-xxs)) {
      flex-direction: column;
      row-gap: rem(20);
      align-content: flex-end;
      justify-content: center;
      padding-right: rem(10);
      padding-top: rem(42);
    }

    @media screen and (max-width: em($br-maw-xxs)) {
      padding-right: 0;
    }
  }

  // .footer__socials-link
  &__socials-link {
    display: inline-block;
    transition: color 0.4s;

    @media (any-hover: hover) {
      &:hover {
        color: $color-white;
      }
    }

    i {
      @include adaptiveValue(
        "font-size",
        $fz-sm,
        $fz-xsm,
        $containerWidth,
        $br-maw-lg,
        1
      );

      @media screen and (max-width: em($br-maw-md)) {
        font-size: rem(22);
      }

      @media screen and (max-width: em($br-maw-xs)) {
        @include adaptiveValue("font-size", $fz-sm, 18, $br-maw-xs, $br-maw-xxs);
      }

      @media screen and (max-width: em($br-maw-xxs)) {
        font-size: rem($fz-xsm);
      }
    }
  }

  // .footer__logo
  &__logo {
    justify-self: center;
    align-self: center;
    @include adaptiveValue("width", 287, 144, $containerWidth, $br-miw-lg, 1);

    @media (any-hover: hover) {
      &:hover {
        path {
          transition: fill 0.4s;
          fill: $color-white;
        }
      }
    }

    @media screen and (max-width: em($br-maw-md)) {
      justify-self: start;
    }

    @media screen and (max-width: em($br-maw-md)) {
      padding-top: rem(3);
      align-self: start;
    }

    @media screen and (max-width: em($br-maw-xxs)) {
      justify-self: center;
      padding: 0;
    }
  }

  // .footer__subscribe
  &__subscribe {
    display: grid;
    justify-content: end;
    padding-left: rem(10);
    position: relative;

    @media screen and (max-width: em($br-maw-sm)) {
      grid-column: 1 / 3;
      justify-content: center;
      padding-left: 0;
      order: -1;
    }

    @media screen and (max-width: em($br-maw-xxs)) {
      grid-column: initial;
    }

    &::before {
      content: "";
      background-color: $color-secondary;
      width: rem(1);
      height: calc(100% + rem(18));
      position: absolute;
      top: rem(-9);
      left: 0;

      @media screen and (max-width: em($br-maw-xl)) {
        height: calc(100% + rem(14));
        top: rem(-7);
      }

      @media screen and (max-width: em($br-maw-lg)) {
        display: none;
      }
    }
  }

  // .footer__subscribe-container
  &__subscribe-container {
    @include adaptiveValue("max-width", 347, 300, $containerWidth, $br-maw-md);

    @media screen and (max-width: em($br-maw-md)) {
      align-self: center;
    }
  }
  // .footer__subscribe-title
  &__subscribe-title {
    font-family: $ff-secondary;
    @include adaptiveValue(
      "font-size",
      $fz-lg,
      $fz-sm,
      $containerWidth,
      $br-maw-sm
    );
    text-transform: capitalize;

    @media screen and (max-width: em($br-maw-sm)) {
      @include adaptiveValue(
        "font-size",
        $fz-m,
        $fz-sm,
        $br-maw-sm,
        $br-maw-xs,
        1
      );
      text-align: center;
    }

    @media screen and (max-width: em($br-maw-xs)) {
      font-size: rem(34);
    }

    @media screen and (max-width: em($br-maw-xxs)) {
      @include adaptiveValue("font-size", $fz-m, $fz-sm, $br-maw-xxs, $br-maw-xxxs, 1);
    }

    &:not(:last-child) {
      @include adaptiveValue(
        "margin-bottom",
        15,
        10,
        $containerWidth,
        $br-miw-lg,
        1
      );
    }
  }
  // .footer__subscribe-form
  &__subscribe-form {
    display: grid;
    @include adaptiveValue(
      "column-gap",
      28,
      14,
      $containerWidth,
      $br-miw-lg,
      1
    );
    grid-template-columns: 1fr auto;
    position: relative;

    @media screen and (max-width: em($br-maw-xs)) {
      grid-template-columns: 1fr;
      max-width: 450px;
      margin-inline: auto;
      row-gap: rem(10);
    }

    &::after {
      content: "";
      background-color: $color-secondary;
      bottom: 0;
      height: rem(1);
      left: 0;
      opacity: 0.2;
      position: absolute;
      width: calc(100% - rem(13));

      @media screen and (max-width: em($br-maw-md)) {
        max-width: 75%;
      }

      @media screen and (max-width: em($br-maw-xs)) {
        display: none;
      }
    }
  }
  // .footer__subscribe-email
  &__subscribe-email {
    background-color: transparent;
    color: $color-secondary;
    @include adaptiveValue(
      "font-size",
      $fz-xxsm,
      13,
      $containerWidth,
      $br-maw-md
    );
    outline: none;

    @media screen and (max-width: em($br-maw-md)) {
      @include adaptiveValue("max-width", 385, 350, $br-maw-md, $br-maw-sm);
    }

    @media screen and (max-width: em($br-maw-sm)) {
      @include adaptiveValue("max-width", 440, 350, $br-maw-sm, $br-maw-xs);
    }

    @media screen and (max-width: em($br-maw-xs)) {
      font-size: rem(18);
    }

    @media screen and (max-width: em($br-maw-xs)) {
      padding: rem(10);
    }

    @media screen and (max-width: em($br-maw-xxxs)) {
      font-size: rem($fz-xxsm);
      padding-inline: 0;
    }

    &::placeholder {
      color: $color-secondary;
      font-family: $ff-main;
      @include adaptiveValue(
        "font-size",
        $fz-xxsm,
        11,
        $containerWidth,
        $br-maw-md
      );
      font-weight: $fw-regular;
      line-height: math.div(30, 16);
    }
  }
  // .footer__subscribe-button
  &__subscribe-button {
    display: inline-block;
    @include adaptiveValue(
      "font-size",
      $fz-xxsm,
      11,
      $containerWidth,
      $br-maw-md
    );
    line-height: math.div(30, 16);
    @include adaptiveValue("padding-block", 11, 6, $containerWidth, $br-maw-md);
    @include adaptiveValue("padding-inline", 9, 5, $containerWidth, $br-maw-md);
    transition: color 0.4s, border 0.4s;

    @media screen and (max-width: em($br-maw-md)) {
      border: rem(1) solid hsla(39, 34%, 63%, 0.3);
      padding: rem(8);
    }

    @media (any-hover: hover) {
      &:hover {
        color: $color-white;

        @media screen and (max-width: em($br-maw-md)) {
          border: rem(1) solid hsla(0, 0%, 100%, 0.6);
        }
      }
    }
  }

  // .footer__copyright
  &__copyright {
    line-height: math.div(32, 16);
    text-align: center;
  }
}
