.menu-icon {
  border: none;
  outline: none;
  display: none;

  @media screen and (max-width: em($br-maw-md) ) {
    display: inline-block;
    cursor: pointer;
    height: rem(18);
    position: relative;
    width: rem(30);

    span,
    &::before,
    &::after {
      content: "";
      background-color: $color-secondary;
      height: rem(2);
      position: absolute;
      left: 0;
      transition: all 0.4s ease 0s;
      width: 100%;
    }

    &::before {
      top: 0;
    }

    &::after {
      bottom: 0;
    }

    span {
      top: calc(50% - rem(1));
    }

    .menu-open ~ & {
      span {
        left: calc(50% - rem(1));
        width: 0;
      }

      &::before {
        top: calc(50% - rem(1));
        transform: rotate(-45deg);
      }

      &::after {
        bottom: calc(50% - rem(1));
        transform: rotate(45deg);
      }
    }
  }
}

.header-actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  row-gap: rem(15);
  @include adaptiveValue("column-gap", 50, 25, $containerWidth, $br-maw-md);
  flex-wrap: wrap;

  @media screen and (max-width: em($br-maw-md)) {
    flex-direction: column;
    font-size: rem($fz-sm);
  }

  // .nav-actions__login
  &__login {
  }

  // .nav-actions__register
  &__register {
  }
  
  // .nav-actions__button
  &__button-contact{
  }
}

.header-link {
  color: $color-secondary;
  font-weight: $fw-light;
  line-height: math.div(25, 18);
}

.nav-menu {
  @media screen and (max-width: em($br-maw-md)) {
    background-color: $color-primary;
    display: grid;
    grid-template-rows: 1fr auto;
    row-gap: rem(30);
    height: 100%;
    width: 75%;
    right: -100%;
    overflow: auto;
    padding: rem(70) rem(15);
    position: fixed;
    top: 0;
    transition: right 0.4s;

    &.menu-open {
      right: 0;
    }
  }

  @media screen and (max-width: em($br-maw-xs)) {
    width: 100%;

    &::after {
      content: "";
      background-color: $color-primary;
      height: rem(60);
      right: -100%;
      top: 0;
      position: fixed;
      transition: right 0.4s;
      width: 100%;
    }

    &.menu-open::after {
      right: 0;
    }
  }

  // .nav-menu__list
  &__list {
    display: flex;
    flex-wrap: wrap;
    row-gap: rem(15);
    @include adaptiveValue("column-gap", 50, 25, $containerWidth, $br-maw-md);

    @media screen and (max-width: em($br-maw-md)) {
      display: block;
      font-size: rem($fz-lg);
      text-align: center;
    }
  }
  // .nav-menu__item
  &__item {
    @media screen and (max-width: em($br-maw-md)) {
      &:not(:last-child) {
        margin-bottom: rem(15);
      }
    }
  }

  // .nav-menu__link
  &__link {
  }

  &__mobile-actions {
    display: none;
    @media screen and (max-width: em($br-maw-md)) {
      display: flex;
    }
  }
}
.header {
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;

  &.header-scrolled::after {
    content: '';
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    width: 1000%;
    background-color: hsla(60, 3%, 13%, .65);
    backdrop-filter: blur(rem(16));
    -webkit-backdrop-filter: blur(rem(16));
    z-index: -1;
  }

  // .header__container
  &__container {
    display: grid;
    align-items: center;
    column-gap: rem(15);
    grid-template-columns: 1fr auto 1fr;
    @include adaptiveValue("min-height", 132, 35);
    padding-block: rem(10);
    transition: min-height .6s;

    @media screen and (max-width: em($br-maw-md)) {
      grid-template-columns: 1fr;
    }

    .header-scrolled & {
      @include adaptiveValue("min-height", 80, 35);
    }
  }

  // .header__menu
  &__menu {
  }

  // .header__logo
  &__logo {
    svg {
      vertical-align: bottom;
      @include adaptiveValue("width", 217, 80);
      transition: width .6s;
      
      @media (any-hover: hover) {
        &:hover {
          path {
            transition: fill 0.4s;
            fill: $color-secondary-darker;
          }
        }
      }

      .header-scrolled & {
        @include adaptiveValue("width", 180, 80);
      }
    }

    @media screen and (max-width: em($br-maw-md)) {
      justify-self: center;
    }

    @media screen and (max-width: em($br-maw-xs)) {
      justify-self: left;
      z-index: 5;
    }
  }
  
  // .header__actions
  &__desktop-actions {
    @media screen and (max-width: em($br-maw-md)) {
      display: none;
    }
  }

  // .header__icon
  &__icon {
    @media screen and (max-width: em($br-maw-md)) {
      position: absolute;
      right: rem(20);
      z-index: 5;
    }

    @media screen and (max-width: em($br-maw-xs)) {
      right: rem(8);
    }
  }
}
