//===== PAGE ===========================================================================================================================================================================================================================================================================
.page {
  // .page__hero
  &__hero {
    @include adaptiveValue("padding-top", 230, 30);
    @include adaptiveValue("padding-bottom", 156, 30);
  }

  // .page__about-us
  &__about-us {
    @include adaptiveValue("padding-top", 171, 30);
    @include adaptiveValue("padding-bottom", 75, 30);
  }

  // .page__products
  &__products {
    @include adaptiveValue("padding-top", 90, 30);
    @include adaptiveValue("padding-bottom", 172, 30);
  }

  // .page__services
  &__services {
    @include adaptiveValue("padding-top", 160, 30);
    @include adaptiveValue("padding-bottom", 159, 30);
  }

  // .page__gallery
  &__gallery {
    @include adaptiveValue("padding-top", 159, 30);
    @include adaptiveValue("padding-bottom", 164, 30);
  }

  // .page__contacts
  &__contacts {
    @include adaptiveValue("padding-top", 57, 30);
    @include adaptiveValue("padding-bottom", 85, 30);
  }
  // .page__reviews
  &__reviews {
    @include adaptiveValue("padding-top", 85, 30);
    @include adaptiveValue("padding-bottom", 159, 30);
  }
}

//===== HERO ===========================================================================================================================================================================================================================================================================
.hero {
  display: flex;
  position: relative;
  align-items: center;
  min-height: 100vh;

  // .hero__container
  &__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    position: relative;
    flex-grow: 1;
    z-index: 5;

    @media screen and (max-width: em($br-maw-md)) {
      grid-template-columns: 1fr;
    }
  }

  // .hero__content
  &__content {
    max-width: rem(650);

    @media screen and (max-width: em($br-maw-md)) {
      max-width: none;
      order: 1;
      text-align: center;
    }
  }

  // .hero__title
  &__title {
    color: $color-secondary;
    font-family: $ff-secondary;
    @include adaptiveValue("font-size", $fz-xxlg, 42);
    text-transform: capitalize;

    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 35, 15);
    }
  }

  // .hero__button
  &__button {
  }

  // .hero__slider
  &__slider {
    justify-self: center;

    @media screen and (max-width: em($br-maw-md)) {
      margin-bottom: 35px;
      // @include adaptiveValue("margin-bottom", 35, 15);
    }
  }
  // .hero__slider-wrapper
  &__slider-wrapper {
    @include adaptiveValue("max-width", 700, 250);
  }
  // .hero__slider-item
  &__slider-item {
    @include adaptiveValue("height", 720, 275);
  }

  // .hero__slider-img-outer-wrapper
  &__slider-img-outer-wrapper {
    border-radius: 50%;
    @include adaptiveValue("max-width", 650, 250);
    @include adaptiveValue("height", 650, 250);
    margin-inline: auto;
    position: relative;
    // overflow: hidden;
    transform-origin: top;
    transform: scale(1.11);

    &::before {
      content: "";
      background-color: #000;
      border-radius: 50%;
      position: absolute;
      height: 85%;
      width: 85%;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  // .hero__slider-img-inner-wrapper
  &__slider-img-inner-wrapper {
    height: 100%;
    // overflow: hidden;
  }
  // .hero__slider-img
  &__slider-img {
    display: block;
    margin-inline: auto;
    height: 100%;
    width: initial;
    position: relative;
    z-index: 5;

    img {
      width: 100%;
    }
  }

  // .hero__background-image
  &__background-image {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    object-fit: cover;
    object-position: top;
  }
}

//===== ABOUT-US ===========================================================================================================================================================================================================================================================================
.about-us {
  background: #efe9dd url("../img/about-us/about-us-bg-decor.jpg") top no-repeat;
  background-blend-mode: lighten;
  // .about-us__container
  &__container {
  }

  // .about-us__content
  &__content {
    display: flex;
    align-items: center;
    @include adaptiveValue("column-gap", 115, 20, $containerWidth, $br-maw-md);

    @media screen and (max-width: em($br-maw-md)) {
      display: block;
    }

    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 98, 30);
    }
  }

  // .about-us__content-image
  &__content-image {
    flex: 0 0 51%;

    img {
      width: 100%;
    }
  }

  // .about-us__content-info
  &__content-info {
    display: grid;
    @include adaptiveValue("row-gap", 20, 15, $containerWidth, $br-maw-md, 1);

    &:not(:first-child) {
      @include adaptiveValue("margin-top", 91, 12, $containerWidth, $br-maw-md);

      @media screen and (max-width: em($br-maw-md)) {
        max-width: rem(800);
        margin-top: rem(30);
        margin-inline: auto;
      }
    }

    @media screen and (max-width: em(489.98)) {
      text-align: center;
    }
  }

  // .about-us__content-title
  &__content-title {
  }

  // .about-us__content-label
  &__content-label {
  }

  // .about-us__content-quote
  &__content-quote {
    font-style: $fw-italic;
    line-height: 1.56;
  }

  // .about-us__content-description
  &__content-description {
    line-height: 1.56;
    max-width: rem(458);

    @media screen and (max-width: em($br-maw-md)) {
      max-width: none;
    }
  }

  // .about-us__content-button
  &__content-button {
    justify-self: start;

    @media screen and (max-width: em($br-maw-md)) {
      justify-self: center;
    }
    @media screen and (max-width: em(489.98)) {
      justify-self: center;
    }
  }

  // .about-us__services
  &__services {
    display: grid;
    grid-template-columns: repeat(3, auto);
    @include adaptiveValue("gap", 50, 30);
    justify-content: space-between;
    @include adaptiveValue("max-width", 1024, 484, $containerWidth, 479.98);
    margin-inline: auto;

    @media screen and (max-width: em(479.98)) {
      grid-template-columns: repeat(2, max-content);
      @include adaptiveValue("max-width", 350, 250, 479.98, $br-maw-xxxs);
    }

    @media screen and (max-width: em($br-maw-xxs)) {
      grid-template-columns: 1fr;
    }
  }

  // .about-us__services-item
  &__services-item {
    display: grid;
    justify-items: center;
    @include adaptiveValue("row-gap", 29, 15, $containerWidth, $br-maw-xs, 1);

    @media screen and (max-width: em($br-maw-lg)) {
      @include adaptiveValue("min-width", 225, 130, $br-maw-lg, $br-maw-sm, 1);
    }

    @media screen and (max-width: em($br-maw-md)) {
      min-width: rem(120);
    }
  }

  // .about-us__services-icon
  &__services-icon {
  }

  // .about-us__services-label
  &__services-label {
    font-family: $ff-secondary;
    @include adaptiveValue(
      "font-size",
      $fz-sm,
      18,
      $containerWidth,
      $br-maw-xs,
      1
    );
    text-align: center;
    text-transform: capitalize;

    @media screen and (max-width: em($br-maw-xxs)) {
      font-size: rem(22);
    }

    @media screen and (max-width: em($br-maw-xxxs)) {
      font-size: rem(18);
    }
  }
}

//===== PRODUCTS ===========================================================================================================================================================================================================================================================================
.products {
  background: #efe9dd url("../img/products/products-bg-decor.jpg") top no-repeat;
  background-blend-mode: lighten;

  // .products__container
  &__container {
    display: grid;
    justify-items: center;
  }
  // .products__header
  &__header {
    display: grid;
    @include adaptiveValue("row-gap", 20, 15, $containerWidth, $br-maw-md, 1);
    max-width: rem(460);
    text-align: center;

    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 48, 30);
    }
  }
  // .products__header-title
  &__header-title {
  }
  // .products__header-label
  &__header-label {
  }
  // .products__header-description
  &__header-description {
  }
  // .products__items
  &__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    @include adaptiveValue("gap", 53, 20);
    width: 100%;

    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 51, 30);
    }

    @media screen and (max-width: em($br-maw-md)) {
      grid-template-columns: repeat(3, 1fr);
      row-gap: rem(40);
    }

    @media screen and (max-width: em($br-maw-xs)) {
      display: block;
    }
  }
  // .products__item
  &__item {
    @media screen and (max-width: em($br-maw-xs)) {
      max-width: rem(275);
      @include adaptiveValue("max-width", 400, 275, $br-maw-xs);
      margin-inline: auto;

      &:not(:last-child) {
        margin-bottom: rem(50);
        @include adaptiveValue("margin-bottom", 50, 30, $br-maw-xs);
      }
    }
  }
  // .products__item-header
  &__item-header {
    position: relative;

    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 40, 15);
    }

    @media (any-hover: hover) {
      &:hover {
        .products__item-image-container {
          color: $color-primary;
          background-color: $color-secondary;
        }

        .products__item-add-to-cart-button {
          opacity: 1;
        }
      }
    }
  }
  // .products__item-image-container
  &__item-image-container {
    aspect-ratio: 1 / 1;
    background: #bbb6a8 url(../img/button-bg.jpg) center / cover no-repeat;
    background-blend-mode: soft-light;
    border: rem(1) solid $color-secondary-darker;
    transition: background-color 0.4s;
    width: 100%;
    height: 100%;
    position: relative;

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      max-width: 90%;
      max-height: 90%;
      width: auto;
      height: auto;
      object-fit: contain;
      transform: translate(-50%, -50%);
    }
  }

  // .products__item-add-to-cart-button
  &__item-add-to-cart-button {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 0.4s background-color 0.4s;
    width: fit-content;
    white-space: nowrap;

    @media (any-hover: hover) {
      &:hover {
        background-color: $color-secondary-darker;
      }
    }

    @media (any-hover: none) {
      border: rem(1) solid $color-secondary;
      border-radius: 0;
      color: $color-primary;
      background-color: $color-secondary;
      opacity: 1;
      top: auto;
      transform: translate(-50%, 0);
      width: 100%;
      bottom: 0;
    }
  }

  // .products__item-info
  &__item-info {
    display: flex;
    justify-content: space-between;
    column-gap: rem(10);

    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 15, 8);
    }
  }
  // .products__item-link
  &__item-link {
  }

  // .products__item-title
  &__item-title {
    font-family: $ff-secondary;
    font-size: rem($fz-sm);
    @include adaptiveValue(
      "font-size",
      $fz-sm,
      $fz-xsm,
      $containerWidth,
      $br-maw-md,
      1
    );
    text-transform: capitalize;
  }
  // .products__item-price
  &__item-price {
    @include adaptiveValue(
      "font-size",
      $fz-sm,
      $fz-xsm,
      $containerWidth,
      $br-maw-md,
      1
    );
  }
  // .products__item-rating
  &__item-rating {
    display: flex;
    @include adaptiveValue("column-gap", 10, 6);

    i {
      color: $color-secondary-darker;
      @include adaptiveValue(
        "font-size",
        26,
        22,
        $containerWidth,
        $br-maw-md,
        1
      );
    }
  }
  // .products__button
  &__button {
    width: fit-content;
  }
}
.icon-star-fill {
}
.icon-star-line {
}

//===== SERVICES ===========================================================================================================================================================================================================================================================================
.services {
  position: relative;
  background-color: $color-primary;
  z-index: 5;

  &::before {
    content: "";
    position: absolute;
    background-color: $color-secondary;
    top: 0;
    left: 0;
    height: 100%;
    width: 41.510417%; /* 797/1920 */
    z-index: -1;

    @media screen and (max-width: em($br-maw-md)) {
      display: none;
    }
  }

  &::after {
    content: "";
    position: absolute;
    background: url("../img/services/services-bg.svg") top right no-repeat;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%; /* 797/1920 */
    z-index: -1;

    @media screen and (max-width: em($br-maw-xl)) {
      opacity: 0.1;
    }
  }

  // .services__container
  &__container {
    display: flex;
    align-items: center;
    @include adaptiveValue("column-gap", 149, 20, $containerWidth, $br-maw-md);

    @media screen and (max-width: em($br-maw-md)) {
      display: block;
    }

    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 98, 30);
    }
  }

  // .services__image-container
  &__image-container {
    flex: 0 0 51.517067%; /* 815/1582 */

    img {
      width: 100%;
      box-shadow: 10px 10px 40px rgba(41, 41, 41, 0.21);
    }
  }

  // .services__info
  &__info {
    display: grid;
    @include adaptiveValue("row-gap", 20, 15, $containerWidth, $br-maw-md, 1);

    &:not(:first-child) {
      @include adaptiveValue("margin-top", 91, 12, $containerWidth, $br-maw-md);

      @media screen and (max-width: em($br-maw-md)) {
        max-width: rem(800);
        margin-top: rem(30);
        margin-inline: auto;
      }
    }

    @media screen and (max-width: em(489.98)) {
      text-align: center;
    }
  }

  // .services__info-title
  &__info-title {
    color: $color-white;
  }

  // .services__info-label
  &__info-label {
  }

  // .services__info-quote
  &__info-quote {
    color: $color-white;
    font-style: $fw-italic;
    line-height: 1.56;
  }

  // .services__info-description
  &__info-description {
    color: $color-white;
    line-height: 1.56;
    max-width: rem(458);

    @media screen and (max-width: em($br-maw-md)) {
      max-width: none;
    }
  }

  // .services__info-button
  &__info-button {
    justify-self: start;

    @media screen and (max-width: em($br-maw-md)) {
      justify-self: center;
    }
    @media screen and (max-width: em(489.98)) {
      justify-self: center;
    }
  }
}

//===== GALLERY ===========================================================================================================================================================================================================================================================================
.gallery {
  background-color: #efe9dd;

  // .gallery__container
  &__container {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: space-between;
    @include adaptiveValue("row-gap", 126, 20);

    @media screen and (max-width: em($br-maw-sm)) {
      display: block;
    }
  }

  // .gallery__item
  &__item {
    @media screen and (max-width: em($br-maw-sm)) {
      width: 85%;
      margin-inline: auto;

      &:not(:last-child) {
        @include adaptiveValue("margin-bottom", 40, 30);
      }
    }

    @media screen and (max-width: em($br-maw-xxs)) {
      width: 100%;
    }

    @media screen and (min-width: em($br-miw-md)) {
      &:nth-child(4n + 1) {
        width: 75.318066%;
      }

      &:nth-child(4n) {
        width: 75.318066%;
        justify-self: end;
      }
    }
  }
  // .gallery__image-container
  &__image-container {
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 52, 10);
    }

    img {
      filter: drop-shadow(0px rem(4) rem(4) rgba(0, 0, 0, 0.25));
      width: 100%;
    }
  }
  // .gallery__label
  &__label {
    color: $color-secondary-darker;
    font-family: $ff-secondary;
    @include adaptiveValue("font-size", $fz-lg, $fz-xsm);
  }
  // .gallery__link
  &__link {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (any-hover: hover) {
      &:hover {
        i {
          transform: translateX(rem(15));
        }
      }
    }

    i {
      font-size: rem(24);
      @include adaptiveValue("font-size", $fz-sm, $fz-xxsm);
      margin-left: rem(10);
      transition: transform 0.4s;
    }
  }
}

//===== CONTACTS ===========================================================================================================================================================================================================================================================================
.contacts {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: $color-secondary;
    width: 100%;
    @include adaptiveValue("height", 140, 100, $containerWidth, $br-maw-md);
    z-index: -1;

    @media screen and (max-width: em($br-maw-md)) {
      height: rem(115);
    }
  }

  // .contacts__container
  &__container {
    display: grid;
    grid-template-columns: 53.034134% auto; /* 839/1582 */

    @media screen and (max-width: em($br-maw-md)) {
      display: block;
    }
  }
  // .contacts__media
  &__media {
    // max-width: rem(750);
    // margin-inline: auto;
    @media screen and (max-width: em($br-maw-md)) {
      // order: 1;
    }
  }
  // .contacts__media-images
  &__media-images {
    display: grid;
  }
  // .contacts__image-container
  &__image-container {
    outline: rem(1) solid $color-white;

    &:first-child {
      width: 85.45888%; /* 717/839 */
      justify-self: start;
      margin-left: rem(15);
      @include adaptiveValue(
        "padding-block",
        13,
        8,
        $containerWidth,
        $br-maw-md
      );
      @include adaptiveValue(
        "padding-inline",
        16,
        9,
        $containerWidth,
        $br-maw-md
      );
      position: relative;

      @media screen and (max-width: em($br-maw-md)) {
        margin-left: rem(15);
        @include adaptiveValue("margin-left", 15, 3, $br-maw-md);
        @include adaptiveValue("padding-block", 13, 3, $br-maw-md);
        @include adaptiveValue("padding-inline", 16, 3, $br-maw-md);
      }
    }

    &:last-child {
      outline-color: $color-secondary;
      justify-self: end;
      @include adaptiveValue(
        "padding-block",
        15,
        9,
        $containerWidth,
        $br-maw-md
      );
      @include adaptiveValue(
        "padding-inline",
        20,
        11,
        $containerWidth,
        $br-maw-md
      );
      width: 89.034565%; /* 747/839 */
      margin-top: -6.256628%; /* 59/943 */
      position: relative;
      z-index: 5;

      @media screen and (max-width: em($br-maw-md)) {
        @include adaptiveValue("padding-block", 14, 3, $br-maw-md);
        @include adaptiveValue("padding-inline", 18, 3, $br-maw-md);
      }
    }
  }
  // .contacts__media-image
  &__media-image {
    width: 100%;
    box-shadow: rem(10) rem(10) rem(10) 0 rgba(60, 38, 12, 0.35);

    @media screen and (max-width: em($br-maw-xl)) {
      box-shadow: rem(7) rem(7) rem(7) 0 rgba(60, 38, 12, 0.35);
    }
    @media screen and (max-width: em($br-maw-lg)) {
      box-shadow: rem(5) rem(5) rem(5) 0 rgba(60, 38, 12, 0.35);
    }
    @media screen and (max-width: em($br-maw-md)) {
      box-shadow: rem(7) rem(7) rem(7) 0 rgba(60, 38, 12, 0.35);
    }
    @media screen and (max-width: em($br-maw-sm)) {
      box-shadow: rem(5) rem(5) rem(5) 0 rgba(60, 38, 12, 0.35);
    }
    @media screen and (max-width: em($br-maw-xs)) {
      box-shadow: rem(3) rem(3) rem(3) 0 rgba(60, 38, 12, 0.35);
    }
    @media screen and (max-width: em($br-maw-xxs)) {
      box-shadow: rem(2) rem(2) rem(2) 0 rgba(60, 38, 12, 0.35);
    }
  }
  // .contacts__media-video-link
  &__media-video-link {
    position: absolute;
    bottom: 0;
    left: rem(-17);
    transform: translateY(40%);
    @include adaptiveValue("width", 220, 140, $containerWidth, $br-maw-md);
    @include adaptiveValue("height", 220, 140, $containerWidth, $br-maw-md);
    display: grid;
    justify-content: center;
    align-content: center;
    outline: rem(1) solid $color-secondary;
    border-radius: 50%;
    z-index: 10;

    @media screen and (max-width: em($br-maw-md)) {
      @include adaptiveValue("left", -17, -7, $br-maw-md);
      @include adaptiveValue("width", 190, 80, $br-maw-md);
      @include adaptiveValue("height", 190, 80, $br-maw-md);
    }

    span {
      background: #bbb6a8 url(../img/button-bg.jpg) center / cover no-repeat;
      background-blend-mode: soft-light;
      border-radius: 50%;
      @include adaptiveValue("width", 186, 120, $containerWidth, $br-maw-md);
      @include adaptiveValue("height", 186, 120, $containerWidth, $br-maw-md);
      display: grid;
      justify-content: center;
      align-content: center;
      transition: background-color 0.4s;

      @media screen and (max-width: em($br-maw-md)) {
        @include adaptiveValue("width", 168, 70, $br-maw-md);
        @include adaptiveValue("height", 168, 70, $br-maw-md);
      }

      @media (any-hover: hover) {
        &:hover {
          background-color: $color-secondary;
        }
      }
    }

    i {
      @include adaptiveValue(
        "font-size",
        $fz-xlg,
        $fz-m,
        $containerWidth,
        $br-maw-md
      );
      @media screen and (max-width: em($br-maw-md)) {
        @include adaptiveValue("font-size", 46, $fz-xxsm, $br-maw-md);
      }
    }
  }

  // .contacts__info
  &__info {
    @include adaptiveValue("margin-left", 115, 75, $containerWidth, $br-maw-md);
    @include adaptiveValue("margin-top", 346, 100, $containerWidth, $br-maw-md);
    display: grid;
    align-content: start;
    @include adaptiveValue("row-gap", 20, 15, $containerWidth, $br-maw-md, 1);
    max-width: rem(485);

    @media screen and (max-width: em($br-maw-md)) {
      @include adaptiveValue("max-width", 800, 500, $br-maw-md, $br-maw-xs);

      margin: rem(30) auto 0;
    }
  }

  // .contacts__info-title
  &__info-title {
    @media screen and (max-width: em($br-maw-xs)) {
      align-self: center;
    }
  }
  // .contacts__info-label
  &__info-label {
  }
  // .contacts__info-schedule
  &__info-schedule,
  &__info-schedule-works-days,
  &__info-schedule-weekend,
  &__info-contacts,
  &__info-tel,
  &__info-email,
  &__info-adress {
    font-size: rem($fz-xsm);
    @include adaptiveValue("font-size", $fz-xsm, $fz-xxsm);
    line-height: 2;

    a {
      transition: color 0.4s;

      @media (any-hover: hover) {
        &:hover {
          color: $color-secondary;
        }
      }
    }
  }
  &__info-schedule-works-days,
  &__info-tel {
    position: relative;

    i {
      position: absolute;
      @include adaptiveValue("left", -40, -20, $containerWidth, $br-maw-xs);
      color: $color-secondary-darker;
      font-size: rem($fz-xxsm);
      line-height: 2.5;

      @media screen and (max-width: em($br-maw-md)) {
        line-height: 2.25;
      }
      @media screen and (max-width: em($br-maw-sm)) {
        line-height: 2.1;
      }

      @media screen and (max-width: em($br-maw-xs)) {
        display: none;
      }
    }
  }
  // .contacts__info-schedule-works-days
  &__info-schedule-works-days {
  }
  // .contacts__info-schedule-weekend
  &__info-schedule-weekend {
  }
  // .contacts__info-contacts
  &__info-contacts {
  }
  // .contacts__info-tel
  &__info-tel {
  }
  // .contacts__info-email
  &__info-email {
  }
  // .contacts__info-adress
  &__info-address {
    address {
      font-style: normal;
    }
  }
  // .contacts__contact-button
  &__contact-button {
    justify-self: start;

    @media screen and (max-width: em($br-maw-md)) {
      justify-self: center;
    }
    @media screen and (max-width: em(489.98)) {
      justify-self: center;
    }
  }
}
//===== REVIEWS ===========================================================================================================================================================================================================================================================================
.reviews {
  // .reviews__container
  &__container {
  }
  // .reviews__slider
  &__slider {
  }
  // .reviews__wrapper
  &__wrapper {
  }
  // .reviews__slide
  &__slide {
    @include adaptiveValue("padding-left", 190, 70, $containerWidth, $br-maw-sm);
    @include adaptiveValue("padding-right", 190, 70, $containerWidth, $br-maw-sm);
    display: grid;
    justify-items: center;
    align-items: center;
    @include adaptiveValue("row-gap", 50, 30);
  }
  // .reviews__icon
  &__icon {
    display: grid;
    align-content: center;
    justify-content: center;
    background: #bbb6a8 url(../img/button-bg.jpg) center / cover no-repeat;
    background-blend-mode: soft-light;
    border-radius: 50%;
    @include adaptiveValue("height", 140, 80, $containerWidth, $br-maw-sm, 1);
    @include adaptiveValue("width", 140, 80, $containerWidth, $br-maw-sm, 1);
    height: rem(140);
    width: rem(140);
    padding: rem(20);
    overflow: hidden;

    @media screen and (max-width: em($br-maw-sm)) {
      height: rem(80);
      width: rem(80);
    }

    @media screen and (max-width: em($br-maw-xxs)) {
      height: rem(140);
      width: rem(140);
    }

    @media screen and (max-width: em($br-maw-xxxs)) {
      height: rem(120);
      width: rem(120);
    }

    img {
      max-width: 100%;
    }
  }
  // .reviews__item
  &__item {
    text-align: center;
  }
  // .reviews__text
  &__text {
    @include adaptiveValue("font-size", $fz-m, $fz-xxsm);
    // text-align: center;
    line-height: 1.67;

    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 50, 30);
    }
  }
  // .reviews__author
  &__author {
    color: $color-secondary-darker;
    font-family: $ff-secondary;
    @include adaptiveValue("font-size", $fz-xlg, $fz-sm);
    font-style: normal;
  }
  // .reviews__arrows
  &__arrows {
    
  }
  // .reviews__arrow
  &__arrow {
    color: $color-secondary;
    position: absolute;
    @include adaptiveValue("top", 235, 150, $containerWidth, $br-maw-sm);
    // top: rem(235);
    z-index: 5;

    transition: color .4s;
    @include adaptiveValue("font-size", 33, 20);

    @media (any-hover: hover){
      &:hover{
        color: $color-secondary-darker;
      }
    }

    @media screen and (max-width: em($br-maw-sm)) {
      top: rem(50);
    }

    // .reviews__arrow_prev
    &_prev {
      left: 0;
    }
    // .reviews__arrow_next
    &_next {
      right: 0;
    }
  }
}
