*,
*::before,
*::after {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
	color: inherit;
  &:link,
  &:visited,
  &:hover {
    text-decoration: none;
  }
}

html,
body {
	height: 100%;
	min-width: $minWidth + px;
}

body {
  line-height: 1;
  //text-rendering: optimizeLegibility;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

button,
input,
textarea {
  font-family: $ff-main;
  font-size: inherit;
}

button {
  background-color: inherit;
  color: inherit;
  cursor: pointer;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

img {
  vertical-align: top;
  // width: 100%;
}

li {
  list-style: none;
}