//=== Colors ===========================================================================================================================================================================================================================================================================
$color-primary: #222220;
$color-secondary: #c1ab81;
$color-secondary-darker: #9d875c;
$color-white: #ffffff;
$color-bg: #efe9dd;

//=== Font and typography ===========================================================================================================================================================================================================================================================================
//== font-family ===========================================================================================================================================================================================================================================================================
$ff-main: "Montserrat", system-ui, -apple-system, "BlinkMacSystemFont",
  "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Open Sans",
  "Helvetica Neue", sans-serif;
$ff-secondary: "Italiana", cursive;

//== font-size ===========================================================================================================================================================================================================================================================================
$fz-xxsm: 16px;
$fz-xsm: 20px;
$fz-sm: 24px;
$fz-m: 30px;
$fz-lg: 32px;
$fz-xlg: 48px;
$fz-xxlg: 100px;

//== font-style&weight ===========================================================================================================================================================================================================================================================================
$fw-light: 300;
$fw-regular: 400;
$fw-italic: italic;

//=== Breakpoints ===========================================================================================================================================================================================================================================================================
$breakpoint-xs: 375.98px;
$breakpoint-sm: 576.98px;
$breakpoint-md: 768.98px;
$breakpoint-lg: 992.98px; // 17.3%
$breakpoint-xl: 1200.98px; // 14.3%
$breakpoint-xxl: 1400.98px; // 27.1%

//=== Container-max-widths ===========================================================================================================================================================================================================================================================================
$container-max-width-sm: 540px;
$container-max-width-md: 720px;
$container-max-width-lg: 960px;
$container-max-width-xl: 1140px;
$container-max-width-xxl: 1178px;

//=== Header-height ===========================================================================================================================================================================================================================================================================