//=== Colors ===========================================================================================================================================================================================================================================================================
$color-primary: #222220;
$color-secondary: #c1ab81;
$color-secondary-darker: #9d875c;
$color-white: #ffffff;
$color-bg: #efe9dd;

//=== Font and typography ===========================================================================================================================================================================================================================================================================
//== font-family ===========================================================================================================================================================================================================================================================================
$ff-main: "Montserrat", system-ui, -apple-system, "BlinkMacSystemFont",
  "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Open Sans",
  "Helvetica Neue", sans-serif;
$ff-secondary: "Italiana", cursive;

//== font-size ===========================================================================================================================================================================================================================================================================
$fz-xxsm: 16;
$fz-xsm: 20;
$fz-sm: 24;
$fz-m: 30;
$fz-lg: 32;
$fz-xlg: 48;
$fz-xxlg: 100;

//== font-style&weight ===========================================================================================================================================================================================================================================================================
$fw-light: 300;
$fw-regular: 400;
$fw-italic: italic;